*{
    padding: 0;
    margin: 0;    
}
body{
     background-color: brown;
     background-size:cover;
    align-items: center;
    justify-content: center;
    display:flex;
}
.container{
    position:relative;
    margin-top: 100px;
    width:450px;
    height:auto;
    background: rgb(240, 237, 237);
    border-radius: 3px;
}
.label{
    padding: 20px 130px;
    font-size: 35px;
    font-weight: bold;
    color: black;
}
.login_form{
    padding: 20px 40px;
}
.login_form.font{
    font-size: 18px;
    color: 130f40;
    margin: 5px;
}
.login_form input{
    height: 40px;
    width: 350px;
    padding: 0px 5px;
    font-size: 18px;
    outline: none;
    border:1px solid rgb(87, 45, 10);
}
.login_form.font2{
    margin-top: 30px;
}
.login_form button{
    margin: 45px 0 30px 0;
    height: 45px;
    width: 360px;